@{
    ViewBag.Title = "Snooping Time";
}

<div class="jumbotron">
    <h1>Sooper Snooper</h1>
    <p class="lead">Sooper Snooper is a data harvesting application for gathering user data from Twitter.</p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Snoop for a Scoop</h2>
        <p>
            Give Sooper Snooper a Twitter username, and get back all of their public tweets.
        </p>
        <p><a class="btn btn-default" href=@Url.Action("Snoop", "Snoop")>Start Snooping</a></p>
    </div>
    <div class="col-md-6">
        <h2>Snoop the Scoops</h2>
        <p>
            Sooper Snooper automatically stores searches for later perusal. 
        </p>
        <p><a class="btn btn-default" href=@Url.Action("Scoops", "Snoop")>Snoop the Scoops</a></p>
    </div>
</div>